{% extends 'layouts.html' %}

{% block title %}Form Purchase{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Payment</div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2" id="submit-payment">Pay Data</h3>
                    </div>
                    <hr>
                    <form action="" method="post" autocomplete="off" id="post-form">
                        <div class="form-group">
                            {% csrf_token %}
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label mb-1">Name</label>
                            <input name="name" id="name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="orderid" class="control-label mb-1">Order ID</label>
                            <input name="orderid" id="orderid" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="shop" class="control-label mb-1">Shop</label>
                            <select name="shop" id="shop" class="form-control">
                                <option selected value>Please select</option>
                                {% for shop in data.shop %}
                                <option value="{{ shop.pk }}">{{shop.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status" class="control-label mb-1">Status</label>
                            <select name="status" id="status" class="form-control">
                                {% for status in data.status %}
                                <option value='{{status.pk}}'>{{status.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="sell" class="control-label mb-1">Sell</label>
                                    <input id="sell" name="sell" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="buy" class="control-label mb-1">Buy</label>
                                    <input id="buy" name="buy" type="text" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-check fa-lg"></i>&nbsp;
                                <span>Pay</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript  %}
<script>
    "use strict"

    function getValueFromID(selector) {
        return document.getElementById(selector).value
    }

    document.getElementById('payment-button').addEventListener('click', function (e) {
        e.preventDefault()

        const url = window.location.href
        const formValue = document.getElementById('post-form')
        let formData = new FormData(formValue)

        validatePromise(formData)
            .then(responses => {
                fetch(url, {
                        method: 'post',
                        headers: {
                            'X-CSRFToken': "{{csrf_token}}"
                        },
                        body: responses
                    })
                    .then(response => {
                        if (response.ok) {
                            return response
                        } else {
                            throw new Error(response.statusText)
                        }
                    })
                    .then(response => {
                        Toast.fire({
                                icon: 'success',
                                title: response.statusText
                            })
                            .then(e => {
                                formValue.reset()
                            })
                    })
                    .catch(err => {
                        Toast.fire({
                            icon: 'error',
                            title: err
                        })
                    })
            })
            .catch(err => {
                Toast.fire({
                    icon: 'error',
                    title: err
                })
            })
    })
</script>
{% endblock %}