{% extends 'layouts.html' %}

{% block title %}Update{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Payment</div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2" id="paytrigger">Pay Data</h3>
                    </div>
                    <hr>
                    <form action="" method="post" autocomplete="off">
                        <div class="form-group">
                            <!-- <input type="hidden" name="record" value="{{data.orders.id}}"> -->
                            {% csrf_token %}
                        </div>
                        <div class="form-group">
                            <label for="name" class="control-label mb-1">Name</label>
                            <input name="name" type="text" class="form-control" value="{{ data.orders.name|title }}"
                                disabled>
                        </div>
                        <div class="form-group">
                            <label for="orderid" class="control-label mb-1">Order ID</label>
                            <input name="orderid" type="text" class="form-control" value="{{ data.orders.orderid }}"
                                disabled>
                        </div>
                        <div class="form-group">
                            <label for="shop" class="control-label mb-1">Shop</label>
                            <select id="shop" name="shop" class="form-control">
                                {% for shop in data.shops %}
                                {% if shop.pk == data.orders.shop.pk %}
                                <option value="{{shop.id}}" selected disabled>{{shop.name}}</option>
                                {% else %}
                                <option value="{{shop.id}}">{{shop.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status" class="control-label mb-1">Status</label>
                            <select id="status" name="status" class="form-control">
                                {% for status in data.status %}
                                {% if status.pk == data.orders.status.pk %}
                                <option value="{{status.pk}}" selected disabled>{{status.name}}</option>
                                {% else %}
                                <option value="{{status.pk}}">{{status.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="sell" class="control-label mb-1">Sell</label>
                                    <input id="sell" name="sell" type="text" class="form-control"
                                        value="{{ data.orders.sell }}">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="buy" class="control-label mb-1">Buy</label>
                                <div class="input-group">
                                    <input id="buy" name="buy" type="text" class="form-control"
                                        value="{{ data.orders.buy }}">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="awb" class="form-control-label">Tracking Number</label>
                                    <input type="text" name="awb" class="form-control" value="{{ data.orders.awb }}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button id="payment-button" type="submit" class="btn btn-lg btn-light btn-block">
                                <i class="fa fa-check fa-lg"></i>&nbsp;
                                <span id="payment-button-amount">Update</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript  %}

{% endblock %}