{% extends 'layouts.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number" id="order">{{ data.record.count }}</h2>
            <span class="desc">data record</span>
            <div class="icon">
                <i class="zmdi zmdi-account-o"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number" id="profit"></h2>
            <span class="desc">total earnings</span>
            <div class="icon">
                <i class="zmdi zmdi-money"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number">{{ data.lib.count }}</h2>
            <span class="desc">collection</span>
            <div class="icon">
                <i class="zmdi zmdi-file"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script>
    'use strict'
    // document.getElementById('order').innerText = {{data.json.totalPayment}}
    let numbs = '{{data.earn.total}}'
    let earn = 0
    if ( numbs != 'None') {
        earn = numeral({{ data.earn.total }}).format('(0.00 a)')
    }

    document.getElementById('profit').innerText = `IDR ${earn}`
</script>
{% endblock %}