<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<title>{% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="https://dev-cdn.imfast.io/logo-mini.png" type="image/x-icon">
<link href="https://dev-cdn.imfast.io/css/font-face.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

<link href="https://dev-cdn.imfast.io/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

<link href="https://dev-cdn.imfast.io/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
    media="all">
<link href="https://dev-cdn.imfast.io/vendor/wow/animate.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="https://dev-cdn.imfast.io/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

<link href="https://dev-cdn.imfast.io/css/theme.css" rel="stylesheet" media="all">
<link href="//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold" rel="stylesheet" type="text/css"/>
<style>
    @import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);
        
    @font-face {font-family: "LuloCleanW01-OneBold"; src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot"); src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg"); } 

    .header-font {
        font-family: "LuloCleanW01-OneBold";
    }
</style>
{% block style %}{% endblock %}

<body class="animsition">
    <div class="page-wrapper">
        {% include 'sidebar.html' %}
        {% include 'mobileHeader.html' %}
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            {% include 'header.html' %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://dev-cdn.imfast.io/vendor/bootstrap-4.1/popper.min.js" type="ae3a855d8b73a6dad9579020-text/javascript">
    </script>
    <script src="https://dev-cdn.imfast.io/vendor/bootstrap-4.1/bootstrap.min.js" type="ae3a855d8b73a6dad9579020-text/javascript">
    </script>

    <script src="https://dev-cdn.imfast.io/vendor/slick/slick.min.js" type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/wow/wow.min.js" type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/animsition/animsition.min.js" type="ae3a855d8b73a6dad9579020-text/javascript">
    </script>
    <script src="https://dev-cdn.imfast.io/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"
        type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/counter-up/jquery.waypoints.min.js"
        type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/counter-up/jquery.counterup.min.js"
        type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/circle-progress/circle-progress.min.js"
        type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/perfect-scrollbar/perfect-scrollbar.js"
        type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://dev-cdn.imfast.io/vendor/chartjs/Chart.bundle.min.js" type="ae3a855d8b73a6dad9579020-text/javascript">
    </script>
    <script src="https://dev-cdn.imfast.io/vendor/select2/select2.min.js" type="ae3a855d8b73a6dad9579020-text/javascript">
    </script>
    <script src="https://dev-cdn.imfast.io//js/main.js" type="ae3a855d8b73a6dad9579020-text/javascript"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="ae3a855d8b73a6dad9579020-|49" defer=""></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        function validatePromise(dictionary) {
            return new Promise((resolve, reject) => {
                dictionary.forEach(element => {
                    if (!element) {
                        return reject(new Error('Form empty'))
                    }
                })
                resolve(dictionary)
            })
        }

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 1000,
            timerProgressBar: true,
            onOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        document.getElementById('shutdown').addEventListener('click', async function (e) {
            window.location.href = '{% url "logout" %}'
            // let header = new Headers()
            // header.append('X-CSRFToken', '{{csrf_token}}')

            // fetch(`${window.location.origin}/logout/`, {
            //         method: 'post',
            //         headers: header
            //     })
            //     .then((result) => {})
            //     .catch((err) => {})

            //     setTimeout(function () {
            //         window.location.href = '/'
            //     }, 1000)
        
        })
    </script>
    {% block javascript %}
    {% endblock %}
</body>

</html>