{% load static %}
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <!-- <img src="images/icon/logo.png" alt="Cool Admin" /> -->
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="/"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'table' %}">
                        <i class="fas fa-table"></i>Tables</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="far fa-check-square"></i>Forms</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{% url 'purchase' %}">Purchase</a>
                        </li>
                        <li>
                            <a href="{% url 'shop' %}">Shop</a>
                        </li>
                    </ul>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-list-ul"></i>Collections</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="collections-show">Show</a>
                        </li>
                        <li>
                            <a href="collections-add">Add</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>