{% extends 'layouts.html' %}

{% block title %}Table{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">data table</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <form class="form-header" action="{% url 'table' %}" method="GET" autocomplete="off" id="filter">
                        <div class="data-table__tool-left">
                            <div>
                                <input class="au-input au-input--xl" type="text" name="name"
                                    placeholder="Search for name" />

                            </div>
                            <br>
                            <div class="collapse" id="shopFilter">
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="shop">
                                        <option value="">Shop</option>
                                        {% for shop in shops %}
                                        <option value="{{ shop.name }}">{{ shop.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="status">
                                        <option value="">Status</option>
                                        {% for stat in status %}
                                        <option value="{{ stat.code }}">{{ stat.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="table-data__tool-right">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small" form="filter" type="submit">
                        <i class="zmdi zmdi-plus"></i>Search</button>
                    </form>
                    <!-- FILTER -->
                    <button class="au-btn-filter" href="#shopFilter" data-toggle="collapse">
                        <i class="zmdi zmdi-filter-list"></i>filters</button>
                    <!-- END FILTER -->
                    <!-- <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                        <select class="js-select2" name="type">
                            <option selected="selected">Export</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div> -->
                </div>
            </div>
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2" id="myTable">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>orderid</th>
                            <th>from</th>
                            <th>status</th>
                            <th>income</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="action-delete">
                        {% for entry in data %}
                        <tr class="tr-shadow" id="record-{{ entry.orderid }}.{{ entry.shop.name }}.{{ entry.name }}">
                            <td>
                                <span>{{ entry.name|upper }}</span>
                            </td>
                            <td>
                                <button class="btn btn-light" data-clipboard-text="{{ x.orderid|upper }}"
                                    id="clipboard-button">{{ entry.orderid|upper }}</button>
                            </td>
                            <td>
                                <span>{{ entry.shop.name }}</span>
                            </td>
                            <td>
                                {{ entry.status.name }}
                            </td>
                            <td>Rp. {{ entry.profit }}</td>
                            <td>
                                <div class="table-data-feature center">
                                    <a href="{% url 'purchase-update' %}?record={{ entry.orderid }}">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </a>
                                    &emsp;
                                    <!-- <a href=""> -->
                                    <button remover="{{ entry.orderid }}.{{ entry.shop.name }}.{{ entry.name }}"
                                        class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                        <i style="pointer-events: none;" class="zmdi zmdi-delete"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- <tr class="spacer" id="listid{{entry.id}}"></tr> -->

                    </tbody>
                </table>

                {% if data %}
                <nav aria-label="Page navigation">
                    <ul class="pagination pg-blue justify-content-center">
                        <li class="page-item">
                            {% if data.has_previous %}
                            <a class="page-link" href="?page={{ data.previous_page_number }}">Prev</a>
                            {% endif %}
                        </li>
                        <li class="page-item"><span class="page-link">Page {{ data.number }} of
                                {{ data.paginator.num_pages }}.</span></li>
                        <li class="page-item">
                            {% if data.has_next %}
                            <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/remodal@1.1.1/dist/remodal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    'use strict'

    new ClipboardJS('button#clipboard-button');

    let selector = document.querySelectorAll('button#clipboard-button')
    selector.forEach(element => {
        element.addEventListener('click', function (e) {
            let orderid = element.getAttribute('data-clipboard-text')

            Toast.fire({
                icon: 'success',
                title: `Copy ${orderid}`
            })

        })
    })

    function delete_execution() {
        try {
            fetch(window.location.href, {
                    method: 'delete',
                    headers: header,
                    body: JSON.stringify({
                        target: target
                    })
                })
                .then(result => {
                    if (result.ok) {
                        return result
                    } else {
                        throw new Error(result.statusText)
                    }
                })
                .then(result => {
                    document.getElementById(`record-${target}`).remove()
                    Toast.fire({
                        icon: 'success',
                        title: 'Success'
                    })
                })
                .catch(err => {
                    Toast.fire({
                        icon: 'error',
                        title: 'Fail'
                    })
                })
        } catch (err) {
            null
        }

    }

    document.getElementById('action-delete').addEventListener('click', function (e) {
        try {

            let target = e.target.attributes['remover'].value
            let header = new Headers()
            header.append('X-CSRFToken', '{{ csrf_token }}')

            Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                })
                .then(action => {
                    if (action.isConfirmed) {
                        fetch(window.location.href, {
                                method: 'delete',
                                headers: header,
                                body: JSON.stringify({
                                    target: target
                                })
                            })
                            .then(result => {
                                if (result.ok) {
                                    return result
                                } else {
                                    throw new Error(result.statusText)
                                }
                            })
                            .then(result => {
                                document.getElementById(`record-${target}`).remove()
                                Toast.fire({
                                    icon: 'success',
                                    title: 'Success'
                                })
                            })
                            .catch(err => {
                                Toast.fire({
                                    icon: 'error',
                                    title: 'Canceled'
                                })
                            })
                    } else {
                        throw new Error('Canceled')
                    }
                })
                .catch(err => {
                    Toast.fire({
                        icon: 'error',
                        title: err
                    })
                })
        } catch (err) {
            null
        }
    })
</script>
{% endblock %}