<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Things</title>
    {% load static %}
    <style>
    .select2-container--default .select2-results>.select2-results__options {
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar {
        display: none;
    }
    </style>
    <!-- Fontfaces CSS-->
    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="{% static 'images/icon/logo-mini.png' %}">
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remodal@1.1.1/dist/remodal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remodal@1.1.1/dist/remodal-default-theme.css">
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        {% include 'aside.html' %}
        <!-- END MENU SIDEBAR-->


        <!-- PAGE CONTAINER-->
        <div class="page-container">
            {% include 'header.html' %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">things logs</h3>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2" id="myTable">
                                        <thead>
                                            <tr>
                                                <th>username</th>
                                                <th>value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for x in filter %}
                                            <tr class="tr-shadow">
                                                <td>
                                                    <span>{{ x.username|lower }}<span>
                                                </td>
                                                <td>
                                                    <span>{{ x.result }}</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer" id="listid{{x.id}}"></tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>

                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pg-blue justify-content-center">
                                            <li class="page-item">
                                                {% if filter.has_previous %}
                                                <a class="page-link" href="?{% if SearchFilter or ShopFilter or StatusFilter is not None %}byName={{ SearchFilter }}&byShop={{ ShopFilter }}&status={{ StatusFilter }}{% endif %}&page={{ filter.previous_page_number }}">Prev</a>
                                                {% endif %}
                                            </li>
                                            <li class="page-item"><span class="page-link">Page {{ filter.number }} of
                                                    {{ filter.paginator.num_pages }}.</span></li>
                                            <li class="page-item">
                                                {% if filter.has_next %}
                                                <a class="page-link" href="?{% if SearchFilter or ShopFilter or StatusFilter is not None %}byName={{ SearchFilter }}&byShop={{ ShopFilter }}&status={{ StatusFilter }}{% endif %}&page={{ filter.next_page_number }}">Next</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>


    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        ScrollReveal().reveal('.tr-shadow', {
            delay: 500,
            useDelay: 'onload',
            reset: true,
        })
    </script>

</body>

</html>
<!-- end document-->