<!-- MENU SIDEBAR-->
{% load static %}
<aside class="menu-sidebar2">
    <!-- <div class="logo">
        <a href="{% url 'dashboard' %}">
            <img src="{% static 'images/icon/logo-white.png' %}" alt="Cool Admin" />
        </a>
    </div> -->
    <div class="menu-sidebar2__content js-scrollbar1">
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="https://dev-cdn.imfast.io/images/icon/admin.png" alt="User" />
            </div>
            {% if user.first_name or user.last_name %}
            <h4 class="name">{{ user.first_name }} {{ user.last_name }}</h4>
            {% else %}
            <h4 class="name">Guest</h4>
            {% endif %}
            <a href="{% url 'shutdown' %}">Sign out</a>
        </div>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li class="has-sub">
                    <a class="js-arrow" href="{% url 'setting' %}">
                        <i class="fas fa-user"></i>Account
                    </a>
                </li>
                <li class="has-sub" onclick="window.history.back()">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chevron-left"></i>Back
                    </a>
                </li>
                <!-- <li class="has-sub disable">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-lock"></i>Change Password
                    </a>
                </li> -->
            </ul>
        </nav>
    </div>
</aside>
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>
<script>
    Swal({
        position: 'top-end',
        type: 'success',
        title: 'Your work has been saved',
        showConfirmButton: false,
        timer: 1500
    })
</script> -->
<!-- END MENU SIDEBAR-->