{% extends '../layouts.html' %}

{% block title %}Add Collection{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Add Collection</div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center title-2">Form</h3>
                    </div>
                    <hr>
                    <form action="" method="post" autocomplete="off" enctype="multipart/form-data" id="post-form">
                        <div class="form-group">
                            <label class="control-label mb-1">Name</label>
                            <input name="title" id="title" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="uploadFile">
                                <label class="custom-file-label" for="customFile">CSV File</label>
                            </div>
                        </div>

                        <div>
                            <button id="add-collection" type="submit" class="btn btn-lg btn-primary btn-block">
                                <i class="fa fa-check fa-lg"></i>&nbsp;
                                <span>Send . . .</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    'use strict'

    document.getElementById('add-collection').addEventListener('click', function (e) {
        e.preventDefault()

        const url = window.location.href
        const formHTML = document.getElementById('post-form')
        let formData = new FormData(formHTML)

        validatePromise(formData)
            .then(responses => {
                fetch(url, {
                        method: 'post',
                        headers: {
                            'X-CSRFToken': '{{csrf_token}}'
                        },
                        body: responses
                    })
                    .then(response => {
                        if (response.ok) {
                            return response
                        } else {
                            throw new Error(response.statusText)
                        }
                    })
                    .then(response => {
                        Toast.fire({
                            icon: 'success',
                            title: response.statusText
                        }).then(() => {
                            formHTML.reset()
                        })
                    })
                    .catch(err => {
                        Toast.fire({
                            icon: 'error',
                            title: err
                        })
                    })
            })
            .catch(err => {
                Toast.fire({
                    icon: 'error',
                    title: err
                })
            })
    })
</script>
{% endblock %}